@mixin padd($pad) {
    padding-left: $pad;
    padding-right: $pad;
}

@mixin marg($mag) {
    margin-right: $mag;
    margin-left: $mag;
}

@mixin reverse-margin($mag) {
    margin-right: -$mag;
    margin-left: -$mag;
}

@mixin reverse-padding($pad) {
    padding-left: -$pad;
    padding-right: -$pad;
}
