.content {
    .list {

        li {
            margin-bottom: 1.3rem;
            letter-spacing: 1.37px;
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
    @include small-and-above {
        // reduce the height of the media div on the content page
        .media {
            height: 380px;
            
            .media-body {
                padding-left: 2rem;
            }
        }
    }

    @include medium-and-above {
        .media {
            height: 450px;

            .media-item {
                height: 450px;
                width: 600px;
            }

            .media-body {
                width: 500px;
            }
        }

        .list {
            li {
                margin-bottom: 1.3rem;
                letter-spacing: 1.37px;
                font-size: 0.9rem;
            }
        }
    }
}
