.copyright {
    display: flex;
    justify-content: center;
    margin-top: 2.8125rem;
    margin-bottom: 1.875rem;
    text-align: center;
    font-size: 0.875rem;
    letter-spacing: 1.51px;

    img {
        width: 15px;
        height: 15px;
        margin-right: 0.4rem; //original was 15px
    }

    p {
        text-transform: capitalize;
    }

    @include small-and-above {
        width: 100%;
        margin: auto;
        padding: 1rem;
    }

    @include medium-and-above {
        padding: 1.25rem;
    }
}
