.footer {
    .quick-links {
        .footer-heading {
            font-size: 0.875rem;
            letter-spacing: 1.01px;
            line-height: 21px;
            text-transform: capitalize;
            margin-bottom: 0.9375rem;
            font-weight: bold;
        }

        ul {
            li {
                margin-bottom: 1.25rem;
                display: flex;
                font-size: 0.875rem;
                letter-spacing: 1px;

                a {
                    text-transform: capitalize;
                    letter-spacing: 1.37px;
                    line-height: 21px;
                    font-size: 0.875rem;
                    display: flex;
                    width: 300px;
                    color: $blue;
                }

                img {
                    width: 30px;
                    // height: 20px;
                    margin-right: 0.9375rem;
                }
            }
        }

        .footer-brand img {
            height: 40px;
        }

        .email p {
            text-transform: lowercase;
            word-wrap: break-word;
            width: 280px;
        }
    }
}
