.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 2;

    .menu {
        height: 40px;
        width: 45px;
    }
}
