.media {
    margin-top: 2.5rem;

    .media-body {
        .about_head {
            margin-top: 2rem;
        }

        .media-head {
            font-size: 1.25rem;
            font-weight: 500;
            text-transform: capitalize;
            letter-spacing: 1.94px;
            line-height: 30px;
            color: $pink;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 0.9rem;
            letter-spacing: 1.37px;
            line-height: 21px;
        }

        &:last-child {
            margin-bottom: 2.8125rem;
        }
    }
    @include small-and-above {
        // border: 1px solid;
        height: 410px;

        .space-down {
            margin-top: 6rem;
            padding-left: 1rem;
        }

        .media-body:last-child {
            margin-bottom: 1rem;
        }
    }
}

@include small-and-above {
    // reduce the height of the media div on the content page
    .content {
        .media {
            height: 380px;
        }
    }

    .about-us {
        height: 450px;

        .media-body {
            width: 600px;
            word-break: break-all;
        }
    }

    .about-services .media-body {
        width: 600px;
        word-break: break-all;

        .media-head {
            margin-bottom: 0.4rem;
        }
    }
}

// @include small-and-above {
//     .about-us {
//         p {
//             width: 650px;
//             word-break: break-word;
//         }
//     }

//     .about-services {
//         padding-top: 2rem;
//         height: 380px;
//         width: 650px;

//         .media-body .media-head {
//             margin-bottom: 0.4rem;
//         }
//     }
// }
