.media {
    margin-top: 2.5rem;

    .media-body {
        .about_head {
            margin-top: 2rem;
        }

        .media-head {
            font-size: 1.25rem;
            font-weight: 700;
            text-transform: capitalize;
            letter-spacing: 1.94px;
            line-height: 30px;
            color: $pink;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 0.9rem;
            letter-spacing: 1.37px;
            line-height: 21px;
            padding-bottom: 1rem;
        }

        &:last-child {
            margin-bottom: 2.8125rem;
        }
    }

    @include small-and-above {
        .space-down {
            margin-top: 6rem;
            padding-left: 1rem;
        }

        .media-body {
            &:last-child {
                margin-bottom: 1rem;
            }
        }
    }
}

.media.about-us {
    .media-body {
        strong {
            font-weight: 500;
            font-size: 1.1rem;
            letter-spacing: 1.37px;
            line-height: 1.3rem;
        }
    }
}

@include small-and-above {
    .media.about-us {
        height: 550px;

        .media-body {
            width: 380px;
            word-break: break-all;
        }
    }

    .about-services .media-body {
        width: 380px;
        word-break: break-all;
        padding: 0 10px 0 10px;

        .media-head {
            margin-bottom: 0.4rem;
        }
    }
}

@include medium-and-above {
    .media.about-us {
        height: 620px;

        .media-item {
            width: 600px;
            height: 450px;
        }

        .media-body {
            width: 600px;
        }
    }

    .about-services .media-body {
        width: 500px;
        margin: 0 30px;
    }
}
