.media {
    margin-top: 2.5rem;

    .media-body {
        .about_head {
            margin-top: 2rem;
        }

        .media-head {
            font-size: 1.25rem;
            font-weight: 500;
            text-transform: capitalize;
            letter-spacing: 1.94px;
            line-height: 30px;
            color: $pink;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 0.9rem;
            letter-spacing: 1.37px;
            line-height: 21px;
        }

        &:last-child {
            margin-bottom: 2.8125rem;
        }
    }
}
