.navigation {
    // ! come back and fix the hover for mobile
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: white;
    display: none;
    padding-top: 70px;
    @include reverse-margin(10px);
    z-index: -1;

    .nav-icons {
        width: 19px;
        height: 19px;
        margin-right: 60px;
    }

    ul li {
        // padding: 24px 0;
        padding-left: 25px;

        a {
            text-transform: capitalize;
            letter-spacing: 1.57px;
            font-weight: 500;
            font-size: 0.9rem;
            padding: 26px 120px 20px 0;
            outline: none;
            display: flex;
            align-items: center;
        }
    }

    @include small-and-above {
        display: block;
        height: auto;
        width: auto;
        background: none;
        position: relative;
        padding-top: 0;
        margin-right: 0;

        .nav-icons {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            justify-items: center;

            li {
                padding-left: 1rem;

                a {
                    padding: 20px;

                    &:before {
                        width: 0;
                        height: 3px;
                        border-radius: 3px;
                        background: $pink;
                        content: "";
                        display: table;
                        position: absolute;
                        transition: width 0.4s;
                    }

                    &:hover:before {
                        width: 50px;
                    }
                }

                &:hover:last-child a:before {
                    width: 90px;
                }
            }
        }
    }
}
