.services {
    font-size: 0.9rem;
    letter-spacing: 1.37px;
    line-height: 21px;
    list-style-type: disc;
    padding-left: 10px;

    .inner-services {
        list-style-type: decimal;
        padding-left: 20px;
        text-transform: capitalize;
    }

    @include small-and-above {
        li {
            margin-bottom: 0.5rem;
        }

        .inner-services li {
            margin-bottom: 0.2rem;
        }
    }
}
