.container {
    max-width: 1200px;
    @include padd(10px);
}

.container-fluid {
    padding: 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
}

@include small-and-above {
    .col-1-2 {
        width: 50%;
    }
}
